.aside {
    border-color: #d28445;
    border-style: dashed none dashed none;
    border-width: 3px;
    margin: 15px;
    padding: 15px;

}
.potato-captcha {
    left: -9999px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
}
